ut02-ejercicios/02-Validacion-de-documentos-XML-con-DTD/filmoteca.dtd

<!ELEMENT filmoteca (pelicula+)>
<!ELEMENT pelicula (titulo, director, año, duracion, genero)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ATTLIST pelicula calificacion (G | PG | PG-13 | R) #REQUIRED>
<!ATTLIST duracion unidad CDATA #REQUIRED>
