ut02-ejercicios/02-Validacion-de-documentos-XML-con-DTD/personas.dtd

<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre, apellidos, telefono, email, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (tipoVia, nombreVia, numero)>
<!ELEMENT tipoVia (#PCDATA)>
<!ELEMENT nombreVia (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ATTLIST persona id ID #REQUIRED>
